---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  openInNewTab?: boolean; // Add new prop
}

const {
  href,
  className = "",
  ariaLabel,
  title,
  disabled = false,
  openInNewTab = false, // Default to false
} = Astro.props;

// Create an object for the common attributes
const newTabProps = openInNewTab
  ? {
    target: "_blank",
    rel: "noopener noreferrer",
  }
  : {};

---

{
  disabled ? (
    <span
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class:list={["group inline-block hover:text-skin-accent", className]}
      aria-label={ariaLabel}
      title={title}
      {...newTabProps}
    >
      <slot />
    </a>
  )
}
